@page "/listtransaction"
@attribute [Authorize(Roles = "Admin")]


@if (transactions == null)
{
    <div class="row justify-content-md-center text-center">
        <p class="fs-4 fw-bold">Brak transakcji. Proszę dodać transakcje.</p>
    </div>
} 
else
{
    <div class="row justify-content-md-center text-center">
        <p class="fs-4 fw-bold">Lista transakcji</p>
        <div class="col-11 border p-3 mb-2 bg-light text-dark rounded">
                
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="fw-bold">
                            <td>#</td>
                            <td>Nazwa</td>
                            <td>Opis</td>
                            <td>Kwota</td>
                            <td>Data transakcji</td>
                            <td>Podgląd</td>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var transaction in transactions)
                        {
                            <tr>
                                <td>@transaction.id</td>
                                <td>@transaction.name</td>
                                <td>@transaction.description</td>
                                <td>@transaction.amount</td>
                                <td>@transaction.date_transaction</td>
                                <td>
                                    <NavLink class="nav-link" href="/transaction">
                                        <span class="material-icons" aria-hidden="true">search</span>
                                    </NavLink>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
    </div>
}

@code {

    private List<Transaction> transactions = new()
    {
        new Transaction { id = 1, name = "test", description = "test test test", amount = 15.66, date_transaction = "08.08.2022" },
        new Transaction { id = 2, name = "test2", description = "test2 test2 test2", amount = 19.99, date_transaction = "08.08.2022" },
        new Transaction { id = 3, name = "test3", description = "test3 test3 test3", amount = 15.94, date_transaction = "06.10.2022" }
    };

    private class Transaction
    {
        public int id { get; set; }
        public string? name { get; set; }
        public string? description { get; set; }
        public double amount { get; set; }
        public string? date_transaction { get; set; }

    }

}
