@page "/listtransaction"
@using AplikacjaInzynierska.Data;
@using AplikacjaInzynierska.Services;
@inject TransactionService transactionService
@inherits OwningComponentBase<TransactionService>
@attribute [Authorize(Roles = "Admin")]

@if (trans == null)
{
    <div class="row justify-content-md-center text-center">
        <p class="fs-4 fw-bold">Brak transakcji. Proszę dodać transakcje.</p>
    </div>
} 
else
{
    <div class="row justify-content-md-center text-center">
        <p class="fs-4 fw-bold">Lista transakcji</p>
        <div class="col-11 border p-3 mb-2 bg-light text-dark rounded">
                
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="fw-bold">
                            <td>#</td>
                            <td>Nazwa</td>
                            <td>Opis</td>
                            <td>Kwota</td>
                            <td>Data transakcji</td>
                            <td>Podgląd</td>
                        </tr>
                    </thead>

                    <tbody>
                    @foreach (var trans in trans)
                        {
                            <tr>
                                <td>@trans.id_user_transaction</td>
                                <td>@trans.name_transaction</td>
                                <td>@trans.description</td>
                                <td>@trans.amount</td>
                                <td>@trans.date_transaction.ToString("dd-MM-yyyy")</td>
                                <td>
                                    <NavLink class="nav-link" href="/transaction">
                                        <span class="material-icons" aria-hidden="true">search</span>
                                    </NavLink>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
    </div>
}

@code {

    private class Transaction
    {
        public int id { get; set; }
        public string? name { get; set; }
        public string? description { get; set; }
        public double amount { get; set; }
        public string? date_transaction { get; set; }

    }

    public System.Collections.Generic.IList<TransactionsClass> trans;

    protected override void OnInitialized()
    {
        var userTransactions = transactionService.GetByTransaction(1);

        if (userTransactions == null)
        {

            trans = null;
        }
        else
        {
            trans = Service.displaytransactions();
        }
        
    }
}
