@page "/listtransaction"

<h3>Lista transakcji</h3>

@if (transactions == null)
{
    <p>Brak transakcji zapisanych.</p>
} 
else
{
    <table class="table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nazwa</td>
                <td>Opis</td>
                <td>Kwota</td>
                <td>Data transakcji</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var transaction in transactions)
            {
                <tr>
                    <td>@transaction.id</td>
                    <td>@transaction.name</td>
                    <td>@transaction.description</td>
                    <td>@transaction.amount</td>
                    <td>@transaction.date_transaction</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Transaction> transactions = new()
    {
        new Transaction { id = 1, name = "test", description = "test test test", amount = 15.66, date_transaction = "08.08.2022" },
        new Transaction { id = 2, name = "test2", description = "test2 test2 test2", amount = 19.99, date_transaction = "08.08.2022" }
    };

    private class Transaction
    {
        public int id { get; set; }
        public string? name { get; set; }
        public string? description { get; set; }
        public double amount { get; set; }
        public string? date_transaction { get; set; }

    }

}
