@page "/newtransaction"
@attribute [Authorize(Roles = "Administrator, User")]

<datalist id="type_transaction">
    <option value="wydatek"></option>
    <option value="inwestycja"></option>
    <option value="przychód"></option>
</datalist>

<h3>Dodaj nową transakcję</h3>

<EditForm Model="model">
    
    <p>
        Nazwa transakcji <InputText id="nameTransaction" @bind-Value="model.name"/>  
    </p>

    <p>
        Opis (maksymalnie 250 znaków) <InputText maxlength="250" @bind-Value="model.description"/>
    </p>
    
    <p>
        Kwota <InputNumber min="0.00" step="0.01" @bind-Value="model.amount" />
    </p>

    <p>
        Data transakcji <InputText type="date" @bind-Value="model.date_transaction" />
    </p>
    
    <p>
        Tyb 
        <InputSelect @bind-Value="model.ListTransactions" >
            @foreach (var Transaction in Enum.GetValues(typeof(ListTransactions)))
            {
                <option value="@Transaction">@Transaction</option>
            }
        </InputSelect>
    </p>
    
    <p>
        Nazwa powiadomienia <InputText maxlength="40" @bind-Value="model.notification" />
    </p>

    <p>
        Treść powiadmienia <InputText maxlength="150" @bind-Value="model.title_notification" />
    </p>

    <p>
        Data powiadomienia <InputText type="date" @bind-Value="model.date_notification" />
    </p>

    <p>
        Godzina powiadomienia <InputText type="time" @bind-Value="model.time_notification" @bind-Value:format="HH:mm"/>
    </p>
    
    <!-- add file -->
    <p>
        <InputFile/>
    </p>

    <p>
        <button @onclick="model.aktualizacja" >Dodaj transakcję</button>
    </p>

            @model.nazwa
            @model.opis
            @model.kwota
            @model.data_transakcji
            @model.typ_transakcji
            @model.powiadomienie
            @model.tytul_powiadomienia
            @model.dataa
            @model.czas

</EditForm>


@code {

    Model model = new Model();

    class Model
    {
        public ListTransactions ListTransactions { get; set; }
        public string? name { get; set; }
        public string? description { get; set; }
        public float amount { get; set; }
        public string? date_transaction { get; set; }
        public string? notification { get; set; }
        public string? title_notification { get; set; }
        public string? date_notification { get; set; }
        public string? time_notification { get; set; }

        public string? nazwa = "";
        public string? opis = "";
        public float? kwota;
        public string? data_transakcji;
        public string? typ_transakcji = "";
        public string? powiadomienie = "";
        public string? tytul_powiadomienia = "";
        public string? dataa;
        public string? czas;

        public void aktualizacja()
        {
            nazwa = $"{name}";
            opis = $"{description}";
            kwota = amount;
            data_transakcji = date_transaction; 
            typ_transakcji = $"{ListTransactions}";
            powiadomienie = $"{notification}";
            tytul_powiadomienia = $"{title_notification}";
            dataa = date_notification;
            czas = time_notification;
        }
    }

    enum ListTransactions
    {
        Wydatek,
        Inwestycja,
        Przychód
    }
    
}
