@page "/newtransaction"

<datalist id="type_transaction">
    <option value="wydatek"></option>
    <option value="inwestycja"></option>
    <option value="przychód"></option>
</datalist>

<h3>Dodaj nową transakcję</h3>


<!-- wartości maksymalne do ustawienia-->
<!--


Data transakcji <InputDate type="date" max="2099-12-31" /> 
<br />



-->

<EditForm Model="model">
    
    <p>
        Nazwa transakcji <InputText id="nameTransaction" @bind-Value="model.name"/>  
    </p>

    <p>
        Opis (maksymalnie 250 znaków) <InputText maxlength="250" @bind-Value="model.description"/>
    </p>
    
    <p>
        Kwota <InputNumber min="0.00" step="0.01" @bind-Value="model.amount" />
    </p>
    
    <p>
        Tyb 
        <InputSelect @bind-Value="model.ListTransaction" >
            @foreach (var transaction in Enum.GetValues(typeof(ListTransaction)))
            {
                <option value="@transaction">@transaction</option>
            }
        </InputSelect>


    </p>
    
    <p>
        Nazwa powiadomienia <InputText maxlength="40" @bind-Value="model.notification" />
    </p>

    <p>
        Treść powiadmienia <InputText maxlength="150" @bind-Value="model.title_notification" />
    </p>

    <p>
        Data powiadomienia <InputText type="datetime-local" @bind-Value="model.date_notification" />
    </p>
    
    <!-- add file -->
    <p>
        <InputFile />
    </p>

    <p>
        <button @onclick="model.aktualizacja" >Dodaj transakcję</button>
    </p>

    <p>
        @model.nazwa
    </p>

    <p>
        @model.opis
    </p>

    <p>
        @model.amount
    </p>

    <p>
        @model.typ_transakcji
    </p>


</EditForm>




@code {

    Model model = new Model();

    class Model
    {
        public ListTransaction ListTransaction { get; set; }
        public string? name { get; set; }
        public string? description { get; set; }
        public float amount { get; set; }
        public string? notification { get; set; }
        public string? title_notification { get; set; }
        public string? date_notification { get; set; }

        public string? nazwa = "";
        public string? opis = "";
        public float? kwota;
        public string? typ_transakcji = "";

        public void aktualizacja()
        {
            nazwa = $"{name}";
            opis = $"{description}";
            kwota = amount;
            typ_transakcji = $"{ListTransaction}";
        }
    }

    enum ListTransaction
    {
        Wydatek,
        Inwestycja,
        Przychód
    }

    
    
}
