@page "/transaction"
@attribute [Authorize(Roles = "Administrator, User")]

<EditForm Model="model">
    <div class="row justify-content-md-center">
        <div class="col-5 border p-3 mb-2 bg-light text-dark text-center rounded">
            <p class="fs-4 fw-bold">
                Transakcja numer: (ID transakcji)
            </p>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Nazwa transakcji</label>
                <InputText class="form-control" id="nameTransaction" @bind-Value="model.name"/>
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Opis</label>
                <InputTextArea class="form-control" maxlength="250" @bind-Value="model.description"/>
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Kwota</label>
                <InputNumber class="form-control" min="0.00" step="0.01" @bind-Value="model.amount" />
                <label class="input-group-text">zł</label>
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Data transakcji</label>
                <InputText class="form-control" type="date" @bind-Value="model.date_transaction" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Typ</label>
                <InputSelect class="form-select" @bind-Value="model.ListTransactions" >
                    @foreach (var Transaction in Enum.GetValues(typeof(ListTransactions)))
                    {
                            <option value="@Transaction">@Transaction</option>
                    }
                </InputSelect>
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Nazwa powiadomienia</label>
                <InputText class="form-control" maxlength="40" @bind-Value="model.notification" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Treść powiadmienia</label>
                <InputText class="form-control" maxlength="150" @bind-Value="model.title_notification" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Data powiadomienia</label>
                <InputText class="form-control" type="date" @bind-Value="model.date_notification" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Godzina powiadomienia</label>
                <InputText class="form-control" type="time" @bind-Value="model.time_notification" @bind-Value:format="HH:mm"/>
            </div>

            <!-- add file -->
            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text">Załącznik</label>
                <InputFile class="form-control" />
            </div>

            <div>
                <button type="button" class="btn btn-success" @onclick="model.aktualizacja">Edytuj transakcję</button>
                <button type="button" class="btn btn-danger" @onclick="model.aktualizacja">Usuń transakcję</button>
            </div>

        </div>
    </div>

    @model.nazwa
    @model.opis
    @model.kwota
    @model.data_transakcji
    @model.typ_transakcji
    @model.powiadomienie
    @model.tytul_powiadomienia
    @model.dataa
    @model.czas

</EditForm>


@code {

    Model model = new Model();

    class Model
    {
        public ListTransactions ListTransactions { get; set; }
        public string? name { get; set; }
        public string? description { get; set; }
        public float amount { get; set; }
        public string? date_transaction { get; set; }
        public string? notification { get; set; }
        public string? title_notification { get; set; }
        public string? date_notification { get; set; }
        public string? time_notification { get; set; }

        public string? nazwa = "";
        public string? opis = "";
        public float? kwota;
        public string? data_transakcji;
        public string? typ_transakcji = "";
        public string? powiadomienie = "";
        public string? tytul_powiadomienia = "";
        public string? dataa;
        public string? czas;

        public void aktualizacja()
        {
            nazwa = $"{name}";
            opis = $"{description}";
            kwota = amount;
            data_transakcji = date_transaction;
            typ_transakcji = $"{ListTransactions}";
            powiadomienie = $"{notification}";
            tytul_powiadomienia = $"{title_notification}";
            dataa = date_notification;
            czas = time_notification;
        }
    }

    enum ListTransactions
    {
        Wydatek,
        Inwestycja,
        Przychód
    }

}
