@page "/transaction/{idTransaction:int}"
@attribute [Authorize(Roles = "Admin, User")]
@using AplikacjaInzynierska.Authentication;
@using AplikacjaInzynierska.Data;
@using AplikacjaInzynierska.Services;
@inject NavigationManager navManager
@inject IJSRuntime js
@inject TransactionService transactionService
@inject UsersService userService
@inject LogsService logsService
@inject AuthenticationStateProvider authStateProvider
@using System.Security.Claims;

<PageTitle>controlBudgetApp - Transakcja nr.@model.id_user_transaction</PageTitle>

<EditForm Model="model">
    <div class="row justify-content-md-center">
        <div class="col-xs-12 col-md-11 col-lg-9 col-xl-6 col-xxl-5 border p-3 mb-2 bg-light text-dark text-center rounded">
            <p class="fs-4 fw-bold">
                Transakcja numer: @model.id_user_transaction
            </p>

            <div class="container d-none d-lg-block d-xl-block d-xxl-block">
                @if (showGroup == true)
                {
                    <div class="input-group mb-3">
                        <label class="col-4 col-lg-5 input-group-text" >Dodane przez</label>
                        <InputText class="col-8 col-lg-7 form-control" @bind-Value="@addedBy" ReadOnly="true" />
                    </div>
                }

                <div class="input-group mb-3">
                    <label class="col-sm-5 input-group-text" >Nazwa transakcji</label>
                    <InputText class="col-8 col-lg-7 form-control" id="nameTransaction" @bind-Value="model.name_transaction" />
                </div>

                <div class="input-group mb-3">
                    <label class="col-sm-5 input-group-text" >Opis</label>
                    <InputTextArea class="col-8 col-lg-7 form-control" maxlength="250" @bind-Value="model.description"/>
                </div>

                <div class="input-group mb-3">
                    <label class="col-4 col-lg-5 input-group-text" >Kwota</label>
                    <InputNumber class="col-8 col-lg-7 form-control" min="0.00" step="0.01" @bind-Value="model.amount" />
                    <label class="input-group-text">zł</label>
                </div>

                <div class="input-group mb-3">
                    <label class="col-4 col-lg-5 input-group-text" >Data transakcji</label>
                    <InputDate class="col-8 col-lg-7 form-control" @bind-Value="model.date_transaction" />
                </div>

                <div class="input-group mb-3">
                    <label class="col-4 col-lg-5 input-group-text" >Typ</label>
                    <InputSelect class="col-8 col-lg-7 form-select" @bind-Value="model.ListTransactions" >
                        @foreach (var Transaction in Enum.GetValues(typeof(ListTransactions)))
                        {
                                <option value="@Transaction">@Transaction</option>
                        }
                    </InputSelect>
                </div>
            </div>

             <div class="container d-lg-none d-xl-none d-xxl-nonek">
                @if (showGroup == true)
                {
                    <div class="input-group mb-3">
                        <label class="col-12 input-group-text" >Dodane przez</label>
                        <InputText class="col-12 form-control rounded" @bind-Value="@addedBy" ReadOnly="true" />
                    </div>
                }

                <div class="input-group mb-3">
                    <label class="col-12 input-group-text" >Nazwa transakcji</label>
                    <InputText class="col-12 form-control rounded" id="nameTransaction" @bind-Value="model.name_transaction" />
                </div>

                <div class="input-group mb-3">
                    <label class="col-12 input-group-text" >Opis</label>
                    <InputTextArea class="col-12 form-control rounded" maxlength="250" @bind-Value="model.description"/>
                </div>

                <div class="input-group mb-3">
                    <label class="col-12 input-group-text" >Kwota</label>
                    <InputNumber class="col-12 form-control rounded-start" min="0.00" step="0.01" @bind-Value="model.amount" />
                    <label class="input-group-text">zł</label>
                </div>

                <div class="input-group mb-3">
                    <label class="col-12 input-group-text" >Data transakcji</label>
                    <InputDate class="col-12 form-control rounded" @bind-Value="model.date_transaction" />
                </div>

                <div class="input-group mb-3">
                    <label class="col-12 input-group-text" >Typ</label>
                    <InputSelect class="col-12 form-select rounded" @bind-Value="model.ListTransactions" >
                        @foreach (var Transaction in Enum.GetValues(typeof(ListTransactions)))
                        {
                                <option value="@Transaction">@Transaction</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div>
                <button type="button" class="btn btn-success" @onclick="EditTransaction" >Edytuj transakcję</button>
                <button type="button" class="btn btn-danger" @onclick="DeleteTransaction" >Usuń transakcję</button>
            </div>
        </div>
    </div>

</EditForm>


@code {
    [Parameter]
    public int IdTransaction { get; set; } = 0;

    Model model = new Model();
    LogsClass log = new LogsClass();

    public string addedBy = "";
    public bool showGroup = false;

    class Model
    {
        public ListTransactions ListTransactions { get; set; }
        public int id_user_transaction { get; set; }
        public string? name_transaction { get; set; }
        public string? description { get; set; }
        public double amount { get; set; }
        public DateTime date_transaction { get; set; }
    }

    enum ListTransactions
    {
        Wydatek,
        Inwestycja,
        Przychód
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var transactionInformation = transactionService.GetByTransaction(IdTransaction);
        var authState = await authenticationState;
        var claimEmail = authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
        var userInformation = userService.GetByUserEmail(claimEmail);

        if (transactionInformation == null)
        {
            model.id_user_transaction = 0;
            model.name_transaction = "";
            model.description = "";
            model.amount = 0.00;
            model.date_transaction = DateTime.Now.ToUniversalTime();
        }
        else
        {
            if (transactionInformation.id_user == userInformation.id_user && transactionInformation.id_group == userInformation.id_group && transactionInformation.id_group != 0)
            {
                model.id_user_transaction = transactionInformation.id_user_transaction;
                model.name_transaction = transactionInformation.name_transaction;
                model.description = transactionInformation.description;
                model.amount = transactionInformation.amount;
                model.date_transaction = transactionInformation.date_transaction;
                string type_transaction = transactionInformation.type_transaction;
                model.ListTransactions = (ListTransactions)Enum.Parse(typeof(ListTransactions), type_transaction);

                var userAdded = userService.GetByUserIdGroup(transactionInformation.id_user);
                addedBy = userAdded.email;
                showGroup = true;
            }
            else if (transactionInformation.id_user == userInformation.id_user)
            {
                model.id_user_transaction = transactionInformation.id_user_transaction;
                model.name_transaction = transactionInformation.name_transaction;
                model.description = transactionInformation.description;
                model.amount = transactionInformation.amount;
                model.date_transaction = transactionInformation.date_transaction;
                string type_transaction = transactionInformation.type_transaction;
                model.ListTransactions = (ListTransactions)Enum.Parse(typeof(ListTransactions), type_transaction);
            }
            else
            {
                if (transactionInformation.id_group == 0)
                {
                    model.id_user_transaction = 0;
                    model.name_transaction = "";
                    model.description = "";
                    model.amount = 0.00;
                    model.date_transaction = DateTime.Now.ToUniversalTime();
                }
                else
                {
                    if (transactionInformation.id_group == userInformation.id_group)
                    {
                        model.id_user_transaction = transactionInformation.id_user_transaction;
                        model.name_transaction = transactionInformation.name_transaction;
                        model.description = transactionInformation.description;
                        model.amount = transactionInformation.amount;
                        model.date_transaction = transactionInformation.date_transaction;
                        string type_transaction = transactionInformation.type_transaction;
                        model.ListTransactions = (ListTransactions)Enum.Parse(typeof(ListTransactions), type_transaction);

                        var userAdded = userService.GetByUserIdUser(transactionInformation.id_user);
                        addedBy = userAdded.email;
                        showGroup = true; 
                    }
                    else
                    {
                        model.id_user_transaction = 0;
                        model.name_transaction = "";
                        model.description = "";
                        model.amount = 0.00;
                        model.date_transaction = DateTime.Now.ToUniversalTime();
                    }

                }
            }
        }
    }

    public async Task<bool> EditTransaction()
    {
        TransactionsClass tc = new TransactionsClass();

        var authState = await authenticationState;
        var claimEmail = authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
        var userInformation = userService.GetByUserEmail(claimEmail);

        var dateNow = DateTime.Now.ToString("yyyy-MM-dd");
        var timeNow = DateTime.Now.ToString("HH:mm:ss");
        log.date = DateTime.Parse(dateNow).ToUniversalTime();
        log.time = TimeOnly.Parse(timeNow);
        log.id_user = userInformation.id_user;

        tc.id_user_transaction = model.id_user_transaction;
        tc.name_transaction = model.name_transaction;
        tc.description = model.description;
        tc.amount = model.amount;
        tc.date_transaction = model.date_transaction;
        tc.type_transaction = model.ListTransactions.ToString();
        transactionService.EditTransaction(tc);

        js.InvokeVoidAsync("alert", "Pomyślna aktualizacja transakcji!");


        log.event_log = "successful update transaction ID: " + model.id_user_transaction;
        logsService.AddNewEvent(log);
        log = new LogsClass();
        return true;
    }

    void DeleteTransaction()
    {

        navManager.NavigateTo("/transactiondelete/" + IdTransaction, true);
    }
}
